<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <header class="bg-amarillo padding-10">
      <section class="top-nav">
        <h1 class="w-header">
          <img src="/images/logo-mercado-liebre.svg" alt="Logo" />
        </h1>
        <div class="w-header box">
          <form>
            <input
              type="text"
              name="busqueda"
              id="busqueda"
              placeholder="Buscar..."
              class="busqueda"
            />
            <button class="lupa">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
        <p class="texto-centrado w-header1">
          <i class="fas fa-hand-holding-usd"></i>
          Comprá en cuotas y sin tarjeta de crédito
        </p>
      </section>
      <nav class="navbar">
        <ul class="navbar1">
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>
        <ul class="navbar2">
          <li>
            <a href="/register">Creá tu cuenta</a>
            <i class="far fa-id-card"></i>
          </li>
          <li>
            <a href="/login">Ingresá </a> <i class="fas fa-sign-in-alt"></i>
          </li>
          <li>
            <a href="">Mis compras </a> <i class="fas fa-shopping-basket"></i>
          </li>
        </ul>
      </nav>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <section>
      <img src="/images/img-home-banner.jpg" width="100%" alt="Banner" />
    </section>
    <main class="container">
      <section>
        <h2>Basado en tu última visita</h2>
        <section class="contenedor-articulo">
          <div class="wrapper">
            <article class="producto">
              <img
                src="/images/img-cafetera-moulinex.jpg"
                alt="Imagen Cafetera"
                width="100%"
                height="100%"
              />
              <div class="contenido-producto">
                <i class="fas fa-truck verde truck"></i>
                <p class="precios">$6.770</p>
                <p class="descuentos verde">40% OFF</p>
                <p class="descripciones">Cafetera Moulinex</p>
              </div>
            </article>
          </div>
          <div class="wrapper">
            <article class="producto">
              <img
                src="/images/img-macbook-pro-2019.jpg"
                alt="Imagen MacBook"
                width="100%"
                height="100%"
              />
              <div class="contenido-producto">
                <i class="fas fa-truck verde truck"></i>
                <p class="precios">$230.000</p>
                <p class="descuentos verde">20% OFF</p>
                <p class="descripciones">MacBook Pro 2019</p>
              </div>
            </article>
          </div>
          <div class="wrapper">
            <article class="producto">
              <img
                src="/images/img-samsung-galaxy-s10.jpg"
                alt="Imagen Galaxy"
                width="100%"
                height="100%"
              />
              <div class="contenido-producto">
                <i class="fas fa-truck verde truck"></i>
                <p class="precios">$70.500</p>
                <p class="descuentos verde">10% OFF</p>
                <p class="descripciones">Samsung Galaxy S10</p>
              </div>
            </article>
          </div>
          <div class="wrapper">
            <article class="producto">
              <img
                src="/images/img-tv-samsung-smart.jpg"
                alt="Imagen SmartTv"
                width="100%"
                height="100%"
              />
              <div class="contenido-producto">
                <i class="fas fa-truck verde truck"></i>
                <p class="precios">$23.200</p>
                <p class="descuentos verde">5% OFF</p>
                <p class="descripciones">SmartTv Samsung 43"</p>
              </div>
            </article>
          </div>
        </section>
      </section>
      <section>
        <h2>Ofertas</h2>
        <section class="contenedor-articulo">
          <div class="wrapper">
            <article class="producto">
              <img
                src="/images/img-cafetera-moulinex.jpg"
                alt="Imagen Cafetera"
                width="100%"
                height="100%"
              />
              <div class="contenido-producto">
                <i class="fas fa-truck verde truck"></i>
                <p class="precios">$6.770</p>
                <p class="descuentos verde">40% OFF</p>
                <p class="descripciones">Cafetera Moulinex</p>
              </div>
            </article>
          </div>
          <div class="wrapper">
            <article class="producto">
              <img
                src="/images/img-macbook-pro-2019.jpg"
                alt="Imagen MacBook"
                width="100%"
                height="100%"
              />
              <div class="contenido-producto">
                <i class="fas fa-truck verde truck"></i>
                <p class="precios">$230.000</p>
                <p class="descuentos verde">20% OFF</p>
                <p class="descripciones">MacBook Pro 2019</p>
              </div>
            </article>
          </div>
          <div class="wrapper">
            <article class="producto">
              <img
                src="/images/img-samsung-galaxy-s10.jpg"
                alt="Imagen Galaxy"
                width="100%"
                height="100%"
              />
              <div class="contenido-producto">
                <i class="fas fa-truck verde truck"></i>
                <p class="precios">$70.500</p>
                <p class="descuentos verde">10% OFF</p>
                <p class="descripciones">Samsung Galaxy S10</p>
              </div>
            </article>
          </div>
          <div class="wrapper">
            <article class="producto">
              <img
                src="/images/img-tv-samsung-smart.jpg"
                alt="Imagen SmartTv"
                width="100%"
                height="100%"
              />
              <div class="contenido-producto">
                <i class="fas fa-truck verde truck"></i>
                <p class="precios">$23.200</p>
                <p class="descuentos verde">5% OFF</p>
                <p class="descripciones">SmartTv Samsung 43"</p>
              </div>
            </article>
          </div>
        </section>
      </section>
    </main>
    <footer>
      <section class="articulos">
        <div class="articulo-individual">
          <i class="fas fa-credit-card iconos-articulos"></i>
          <h4>Pagá con tarjeta o en efectivo</h4>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </div>
        <div class="articulo-individual">
          <i class="fas fa-gift iconos-articulos"></i>
          <h4>Envío gratis desde $ 2.500</h4>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </div>
        <div class="articulo-individual">
          <i class="fas fa-user-shield iconos-articulos"></i>
          <h4>Seguridad, de principio a fin</h4>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </div>
      </section>
      <section>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </section>
    </footer>
  </body>
</html>
